html {
    font-size: 10px;
}

* {
    box-sizing: border-box;
}

body {
    font-size: 1.8rem;
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
}
