.header {
  width: 100%;
  padding: 20px 40px;
  border-bottom: 1px solid black;
}

.resultsWrapper {
  padding: 20px 40px;
}

.article {
  padding: 20px 5px;
  border-bottom: 1px solid #ced4da;
  > h4 {
    margin-bottom: 10px;
  }
}