@import "../../styles/variables";

.container {
  width: 100%;
  padding: 20px 40px;
  @include desktop() {
    padding: 20px 30px;
  }
}

.formElement {
  display: flex;
  flex-direction: column;
  &:not(:last-child) {
    margin-bottom: 20px;
  }
  > label {
    padding-bottom: 5px;
  }
}

.inputsGroup {
  width: 50%;
  @include desktop {
    width: 100%;
  }
}

.buttonsGroup {
  margin-top: 20px;
  > button {
    &:not(:last-child) {
      margin-right: 15px;
    }
  }
}